<% include ../partials/header %>

  <div id="contact">
    <p>5th St. & Concord Ln.</p>
    <p>Metropolis, USA</p>
    <div><a href="#">hello@thedailyplanet.com</a></div>
  </div>

<% include ../partials/footer %>