<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	<p>
	Welcome to the Daily Planet, we bring news to the world. Help us help you get informed about the most current events affecting our world today. 
	</p>
</body>
</html>