<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
</head>
<body>
	<article>
	    <h2>My Contact Information</h2>
	    <p>Feel free to email me at melodyserra@gmail.com and/or call me at (626) 375-9372.</p>
	    <input type="email" placeholder="Your email">
	  	<input type="submit">
	</article>
</body>
</html>